/* Universal selector to reset margin and padding */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ---- 2.1 Selectors ---- */

/* Heading styles */
h1 {
    margin-top: 20px;
    font-family: Arial, sans-serif;
    text-align: center;
    font-size: 2.5em;
    Color: darkblue;
}

/*Aside */
aside  {
    text-align:center;
    margin: 20px auto;
    color: #070785
}

/* Heading */
h2 {
    text-align: center;
    margin-bottom: 20px;
    margin-top: 5px;
}

/* Form */
form  {
    background-color: rgb(236, 245, 249);
    border: 2px solid darkblue;
    padding: 20px;
    margin: 20px auto;
    width: 90%;
    max-width: 700px;
    border-radius: 15px;
}

/* Paragraph */
p {
    font-size: 15px;
    color: rgb(53, 53, 53);
}

/* Navigation bar */
nav {
    text-align: center;
    background-color:rgb(255, 255, 255);
    margin: 15px;
    padding: 10px;
    border-radius: 10px;
}

/* Footer */
footer {
    text-align: center;
   margin: 20px;
}

figcaption {
    text-align: center;
    font-style: italic;
    color: rgb(41, 41, 41);
    margin-top: 5px;
}

/* ---- 2.2 Class selectors ---- */

/* <section> element with class="form-section" */
.form-section {
    margin-bottom: 15px;
    text-align: left; 
    background-color: rgb(246, 246, 246);
    width: 95%;
    margin: 20px auto;
    padding: 20px;
}

/* ---- 2.3 ID selectors ----*/

/* Targets the <h1> element with id="main-title" */
#main-title {
    color: darkblue;
    font-weight: bold;
    margin-bottom: 10px;
    font-size: 3em;
}

/* ---- 2.4 Multiple Class selectors ----*/

/* .green.bold targets "Checklist" h2 */
.cheklist {
    color: black;
    font-weight: bold;
}

/* ---- 2.5 Attribute selectors -----*/
   
/* Targets text input */
input[type="text"] {
    border: 1px solid gray;
    margin: 1px 5px 1px 5px;
    padding: 5px 10px;
    }

/* Targets Password input */
input[type="password"] {
    border: 1px solid gray;
    margin: 1px 5px 1px 5px;
    padding: 5px 10px;
}

/* Targets Laurea Logo image */
img[alt="Laurea Logo"] {
    border: 1px solid #ccc;
    border-radius: 10px;
    width: 500px;
    height: auto;
    display: block;
    margin: 0 auto;
    margin-bottom: 15px;
}

/* ---- 2.6 Descendant Combinators ---- */

/* Targets labels */
.form-section label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

/* Targets the list box */
section .main-list {
    list-style-type: circle;
    background-color: rgb(236, 245, 249);
    border: 1px dotted darkblue;
    border-radius: 10px;
    padding: 10px 30px;
    margin: 20px auto;
    max-width: 400px;
    text-align: left;
}

/* Targets the list items */
.main-list li {
    margin-left: 10px;
    color: #1d1d1e;
    padding: 5px 0;
}

/* ---- 2.7 Multiple Selectors ---- */

/* Contains two type selectors and one class selector */
h1, h2, .menu {
    color: rgb(1, 1, 44);
    font-family: Arial, Helvetica, sans-serif;   
}

/* ---- 2.8 Chaining ---- */

/* h1 chained with class .title */
h1.title {
    text-transform: uppercase;
    letter-spacing: 1px;
}

/* ---- 2.9 Pseudo-classes ---- */

/* Laurea Logo Hover effect */
.logo:hover {
    opacity: 0.8;
    transform: scale(1.1);
    transition: all 0.3s ease-in-out;
}

/* Laurea Logo shrink effect */
.logo:active {
    transform: scale(50%);
}

/* Menu link visited */
.menu:visited {
    color: red; 
}

/* Styling takes effect when input field is clicked */
input:focus {
    border-color: darkblue;
    background-color: rgb(230, 231, 231);
    outline: solid black 1px;
}

/* Targets disabled buttons */
input:disabled {
    background-color: rgb(231, 230, 230);
    color: gray;
}


/* ---- Extras ---- */

input[type="submit"] {
    background-color: darkblue;
    color: white;
    font-weight: bold;
    cursor: pointer;
    padding: 10px 20px;
    border-radius: 50px;
}

input[type="submit"]:hover {
    background-color: rgb(9, 9, 228);
    scale: 1.05;
    transition: all 0.3s ease-in-out;
}

/* ---- Visual Rules ---- */

header {
     background-image: url("background.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: block;
    width: 100%;
    padding: 60px 0;
    color: white
}

body {
    background-color: red;
    background-color: whitesmoke !important;
}

/* ---- Box Model ---- */

textarea {
    width: 100%;
    min-width: 100px;
    min-height: 120px;
    max-height: 300px;
    max-width: 100%;
    padding: 10px;
    border: 2px solid rgb(2, 11, 69);
    border-radius: 5px;
    overflow: auto;
}

quote {
    margin-top: 20px;
    margin-right: 10px;
    margin-bottom: 20px;
    margin-left: 10px;

    padding-top: 10px;
    padding-right: 15px;
    padding-bottom: 10px;
    padding-left: 15px;

}

iframe {
    border: 2px solid darkblue;
    border-radius: 10px;
    margin: 20px auto;
    display: block;
}

.hidden-logo {
    visibility: hidden;
}