/* Reset defaults */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}   

/* Typography */
body {
    font-family: Quicksand, Georgia, serif;
    line-height: 1.3;
    color: saddlebrown; /* Named color */
    background-color: rgb(243, 221, 199); /* rgb color */
}

/* Header and Footer */
header, footer {
    background-color: rgb(137, 104, 84);
    color: #321602;
    text-align: center;
    padding: 2px 0;
}

main {
    padding-bottom: 80px;
}

h1.title {
    text-transform:  uppercase;
    text-align: center;
    letter-spacing: 3px;
    font-weight: 400;
    font-size: 50px;
    margin: 30px 0;
    color: #321602 !important; /* override */ /* hex color */
}

h2 {
    text-align: center;
    font-style: italic;
    font-weight: bold;
    font-size: 28px;
    word-spacing: 4px;
    margin: 20px;
    color: rgb(78, 51, 31); /* rgb color */
}

.intro {
    text-align: center;
    font-size: 20px;
    margin: 20px 0 40px 0;
    color: rgb(40, 17, 1);
}

.highlight.bold {
    color: rgb(112, 28, 3);  /* rgb color */
    font-weight: 600;
}

/* Navigation Bar */
nav {
    text-align: center;
    margin: 20px 0;
}

nav a {
    margin: 0 15px;
    color: rgb(43, 20, 2); /* rgb color */
    text-decoration: none;
    font-weight: bold;
    display: inline;
}

nav a:hover {
    color: #78481b; /* hex color */
}

nav a:visited {
    color: purple; /* Named color */
}

nav a:active {
    color: red; /* Named color */;
}

/* Quote section */
.quote {
    background-color: hsl(23, 24%, 43%); /* hsl color */
    color:#1f0f00;
    padding: 20px;
    margin: 20px auto;
    max-width: 600px;
    text-align: center;
    border-radius: 8px;
    opacity: 0.95;
}

.floated-image {
    display: block;
    margin: 0 auto 30px auto;
    max-width: 90%;
    height: auto;
    border-radius: 10px;
}

/* Gallery */
.gallery {
    display: block;
    text-align: center;
    margin: 20px auto;
    min-width: 300px;
    max-width: 800px;
    position: relative; /* keeps absolute inside */
}

figcaption {
    text-align: center;
    font-size: 15px;
    color:#1f0f00;
    margin: 5px 0 5px 0;
    font-style: italic;
}

/* Sticky category strip */
.category-strip {
    position: sticky;
    display: inline-block;
    width: 100%;
    top: 50px;
    background-color: rgba(233, 214, 188, 0.3);
    padding: 0.5rem;
    z-index: 10;
    text-align: center;
    margin-bottom: 15px;
}

/* Relative position */
.artwork.relative {
    position: relative; top: 10px; right: -800px;
    max-width: 250px;
    max-height: 150px;
    z-index: 50;
    
}
/* Absolute position */
.artwork.absolute {
    position: absolute; top: 330px; left: 100px;
    max-width: 250px;
    max-height: 150px;
    z-index: 50;
}

.artwork.static1 {
    display: block;
    margin: 40px auto;
    max-width: 250px;
    max-height: 150px;
}

.artwork.static {
    display: block;
    margin: 40px auto;
    max-width: 250px;
    max-height: 150px;
    z-index: 70; 
}

/* Static position */
.artwork.static2 {
    position: static;
    display: block;
    margin: 40px auto;
    max-width: 250px;
    max-height: 150px; 
    z-index: 70; 
}

/* Floating box */
.floating.box {
    float: left; /* requirement */
    width: 600px;
    background-color:hsl(23, 24%, 43%);
    color: #1f0f00;
    padding: 10px;
    margin: 15px auto;
    border-radius: 10px;
    text-align: center;
    font-size: 23px;
    display: block;
    float: none; /* override to center */
} 

.clear.box {
    clear: both;
    background-color: hsla(23, 24%, 43%, 0.9);
    color: #1f0f00;
    padding: 10px;
    margin: 10px auto;
    border-radius: 10px;
    text-align: center;
    display: block;
    max-width: 400px;
    font-size: 17px;
}

.art-img {
    width: 200px;
    height: 250px;
    border: 2px solid #321803;
    border-radius: 5px;
    margin: 10px;
}

.hidden {
    visibility: hidden;
    height: 50px;
    width: 100%;
}

/* z-index inline-block example */
.z-stack-inline {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px auto;
}

.z-box {
    display: inline-block;
    margin-left: -80px;
    position: relative;
    text-align: center;
}

.z-box:first-child { margin-left: 0; }

.z-n1 { z-index: -1; }
.z0 { z-index: 0; }
.z1 { z-index: 1; }
.z2 { z-index: 2; }
.z3 { z-index: 3; }

.z-box img {
    width: 200px;
    border: 1px solid #0f0f0f;
    border-radius: 10px;
    display: block;
    margin-top: 150px; 
    box-shadow: 5px 5px 10px rgba(30, 10, 0, 0.875);
    transition: transform 0.3s ease;
}

.z-box img:hover {
    transform: scale(1.05);
}

.z-box figcaption {
    margin-top: 10px;
    font-size: 13px;
    font-weight: bold;
    color:rgb(40, 17, 1);
    text-align: center;
}

/* Fixed Footer */
footer {
    font-size: 14px;
    padding: 10px 0;
    position: fixed; bottom: 0; width: 100%;
}